[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "src/ubiquity/magni_robot"]
	path = src/ubiquity/magni_robot
	url = https://github.com/UbiquityRobotics/magni_robot.git
